<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Filmlab Productions About">
    <meta property="og:title" content="About Us, our team and get to know our crew!" />
    <meta property="og:description" content="Filmlab Productions, Home Page" />
    <meta property="og:image" itemprop="image"
        content="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
</head>

<body>
    {% include '_navbar.html' %}
    <!-- End of nav-->

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/scroll_animations.css') }}" />
    <script src="{{ url_for('static', filename='./js/scroll_animations.js') }}" defer></script>

    <main class="main pcMainContent">
        <!--Margin to space content on the page so it is slightly seperated from the left of page-->
        <h2 class="italic mainTitle animate-on-scroll">About</h2>
        <!-- Ttile of page - where ribbon by space out a red underline is meant to be, based on figma design -->
        <hr class="seperator" id="maintitle">
        <div class="generalText"> <!-- general purpose of making page text more appealing and uniform -->

            <span class="halfSpace"></span>
            <h3 class="lessMargin title italic animate-on-scroll">Our Mission</h3>
            <span class="halfSpace"></span>
            <p class="animate-on-scroll">
                Established in 2022, Filmlab is on a mission to revitalize entertainment through the power of diverse
                artistic expression. <br />
                <br>
                Our UK-based company is committed to producing high-quality films that captivate, inspire, and
                entertain. So sit back and enjoy the show! <br />
                <br />
                Feel free to support us in the link below, and be more directly involved in
            </p>
            <span class="halfSpace"></span>

            <hr class="seperator">

            <!-- <div class="filmList">
                <img src="{{ films[-1].thumbnail }}" class="thumbRatio thumbSmallMobile" id="imgDarker" alt="support us" />
                <section class="lessMargin">
                    <br class="mobileBr" />
                    <div class="title lessMargin">Support future projects and productions by Filmlab</div>
                    <br/>
                    <section class="pcRow inline">
                        <div class="filmDate inline">External-link</div>
                        <p class="filmDate gapLeft inline">- GoFundMe</p>
                        <br class="mobileBr" /> -->
            <!-- Space is only visible on mobile devices, due to smaller screen size-->
            <!-- </section>
                    <br />
                    <p class="generalText mobileHide">
                        Filmlab Productions is a film company that was founded a year ago. In this short time, we have produced two award-winning films. We are also very excited to announce our upcoming production, ‘Kidnapped.’ All funding goes DIRECTLY into future projects, and we always appreciate all kinds of support.

                    </p>
                    <br>
                    <a href="https://www.gofundme.com/f/future-projects-and-productions-by-filmlab" target="_blank" class="nav-link">
                        <span class="hollowButton">SUPPORT US ></span>
                    </a>
                </section> 
            </div>
             <span class="halfSpace"></span>
            <hr class="seperator">
            -->
            <section class="generalText">
                <!--Directors summary section-->
                <h5 class="italic title animate-on-scroll">Founders</h5>
                <section class="pc2by2Grid"><!--media quiery class-->

                    <section class="card animate-on-scroll">
                        <!--ARMANDO Card & start of code from youtube tutorial Ie."card," "cardInfo" & "cardThumb" - refer to readme-->
                        <div class="cardThumb cardGradient">
                            <img src="{{ url_for('static', filename='./images/armando.jpg') }}" alt="Armando H IMAGE"
                                class="directorImages pcFounderImg" />
                        </div>
                        <div class="cardContent">
                            <div class="flexSocialIconDiv">
                                <h4 class="italic cardInfo title">Armando H. Leka</h4>
                                <div class="flexSocialIcons">
                                    <br>
                                    <a href="https://www.instagram.com/armandoh4" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:armando@filmlabproductions.co.uk" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                            <p class="italic cardInfo">Co-Founder/Technical Advisor/Director of Strategic Partnerships</p>
                        </div>
                        <ul class="generalText">
                            <!--Director description -->
                            <li class="listBreak">The lead software architect & responsible for strategic
                                partnerships/opportunities.</li>
                            <li class="listBreak">
                                Armando Leka is a software architect with experience in the financial industry. Majoring
                                in Computer Science, and having worked in financial markets for a number of years, he
                                takes a more analytical approach to filmmaking.</li>
                            <li class="listBreak">
                                London Lead for curated, ultra-luxury experiences in partnership with one of Italy's leading concierge collective.
                            </li>
                        </ul>
                        <section class="halfSpace"></section>
                    </section>

                    <section class="card animate-on-scroll"> <!--JOEL Card-->
                        <div class="cardThumb cardGradient">
                            <img src="{{ url_for('static', filename='./images/joel.jpg') }}" alt="Joel M IMAGE"
                                class="directorImages pcFounderImg" />
                        </div>
                        <div class="cardContent">
                            <div class="flexSocialIconDiv">
                                <h4 class="italic cardInfo title">Joel Maquera</h4>
                                <div class="flexSocialIcons">
                                    <br>
                                    <a href="https://instagram.com/joelmc.era" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:joel@filmlabproductions.co.ukm" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                            <p class="italic cardInfo">Co-Founder/Director & Chief of Marketing</p>
                        </div>
                        <!--End of youtube code-->
                        <ul class="generalText">
                            <!--Director description -->
                            <li class="listBreak">
                                Joel Maquera is a filmmaker and creative artist based in London, originally from
                                Barcelona, Spain. With a background in Architecture & Landscape from Greenwich
                                University, he brings a unique visual and design sensibility to his storytelling. His
                                passion for cinema, combined with his architectural eye, allows him to craft visually
                                striking narratives that resonate on an emotional level.
                            </li>
                            <li class="listBreak">
                                Joel's work spans directing, producing, screenwriting, and editing, with a focus on bold
                                storytelling and distinctive aesthetics. His short films, including One Day, Month, One
                                Year (2016), Killer Santa (2021), Once Upon a Time in London (2022), After Hours, Family
                                Boxing (2024), Kidnapped (2024), and Last Place on Earth (2025) have been recognised at
                                several London film festivals, earning critical acclaim for their originality and
                                storytelling depth. Beyond filmmaking, Joel is actively involved in architecture and
                                design, collaborating with various companies in London. He is also the founder of
                                Filmlab Productions, a creative platform dedicated to nurturing emerging talent and
                                pushing the boundaries of independent filmmaking.
                            </li>
                        </ul>
                    </section>
                </section>
                <span class="halfSpace"></span>

                <hr class="seperator animate-on-scroll">
                <section>
                    <!--TEAM summary section-->
                    <h2 class="title italic animate-on-scroll">Our Team</h2>
                    <span class="halfSpace"></span>
                    <!--OUR TEAM SECTION-->
                    <article class="pc2by2Grid">

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-jirko.jpg') }}" alt="Jirko image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Jirko R.</p>
                                <p class="bubble bubble2">Content Director</p>
                                <p class="bubble bubble2">Operations</p>
                                <p class="bubble bubble2">Client Relations</p>
                                <div class="flexSocialIcons">
                                    <a href="https://instagram.com/jirko_" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:jirko.romppanen@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>
                        
                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <!--by repeating the 'twobytwo' class, it adds more padding for mobile-->
                                <img src="{{ url_for('static', filename='./images/team-gabriel.jpg') }}"
                                    alt="Gabriel image" class="teamImages" />
                                <!--Team members' image, left side-->
                            </figure>
                            <div class="teamBubble">
                                <!--Team members' description beside image-->
                                <p class="marginReset">Gabriele D.</p>
                                <p class="bubble bubble2">Camera Operations</p>
                                <p class="bubble bubble2">Story Board Artist</p>
                                <p class="bubble bubble2">Cinematographer</p>
                                <div class="flexSocialIcons">
                                    <a href="https://instagram.com/_gab_dam_" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:gabdamanskyte@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/alvaro.png') }}" alt="Alvaro image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Alvaro C.</p>
                                <p class="bubble bubble2">Film Director</p>
                                <p class="bubble bubble2">Screen Writer</p>
                                <p class="bubble bubble2">Actor</p>
                                <p class="bubble bubble2">Model</p>
                                <div class="flexSocialIcons">
                                    <a href="https://instagram.com/alvaro_cp93" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:alvaro_cp93@hotmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>
                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-vergil.jpg') }}"
                                    alt="Vergil image" class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Vergil V.</p>
                                <p class="bubble bubble2">Casting Director</p>
                                <p class="bubble bubble2">Actor</p>
                                <p class="bubble bubble2">Producer</p>
                                <div class="flexSocialIcons">
                                    <a href="https://instagram.com/vergilsvergilov" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="https://app.spotlight.com/2538-1279-1333" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/spotlight.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:vergilvergilov2000@icloud.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-Anastasiia.jpg') }}" alt="Anastasiia L. Image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Anastasiia L.</p>
                                <p class="bubble bubble2">PR</p>
                                <p class="bubble bubble2">Partnerships Assistant</p>
                                <p class="bubble bubble2">Actress</p>
                                <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/anastasiia.liubychecko" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <!-- <a href="mailto:rhysjones@photographer.net" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a> -->
                                </div>
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-Nicholas.jpeg') }}" alt="Nicholas S. Image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Nicholas S.</p>
                                <p class="bubble bubble2">Sound Engineer</p>
                                <p class="bubble bubble2">Boom Operator</p>
                                <div class="flexSocialIcons">
                                    <!-- <a href="https://www.instagram.com/anastasiia.liubychecko" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a> -->
                                    <!-- <a href="mailto:rhysjones@photographer.net" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a> -->
                                </div>
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-Alvaro-Shah.jpeg') }}" alt="Alvaro image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Alvaro S.</p>
                                <p class="bubble bubble2">First Assistant Director</p>
                                <p class="bubble bubble2">Sound Engineer</p>
                                <p class="bubble bubble2">Boom Operator</p>
                                <!-- <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/rumbid.zai/" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:rnmaenquiries@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div> -->
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-rumbi.jpg') }}" alt="Rumbi image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Rumbi N.</p>
                                <p class="bubble bubble2">Makeup Artist</p>
                                <p class="bubble bubble2">Special Effects</p>
                                <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/rumbid.zai/" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:rnmaenquiries@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-Raffey.jpeg') }}" alt="Raffey image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Rafferty E.</p>
                                <p class="bubble bubble2">Assistant Camera</p>
                                <p class="bubble bubble2">Sound Engineer</p>
                                <p class="bubble bubble2">Boom Operator</p>
                                <p class="bubble bubble2">BTS Videographer</p>
                                <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/eastwood_roll/" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <!-- <a href="mailto:rnmaenquiries@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a> -->
                                </div>
                            </div>
                        </section>

                         <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/team-christina-b.jpeg') }}" alt="Cheistina image"
                                    class="teamImages" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Christina B.</p>
                                <p class="bubble bubble2">Makeup Artist</p>
                                <!-- <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/eastwood_roll/" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:rnmaenquiries@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div> -->
                            </div>
                        </section>

                        <section class="twoByTwo animate-on-scroll">
                            <figure class="gapLeft noTopMargin">
                                <img src="{{ url_for('static', filename='./images/juliana.jpg') }}" alt="Juliana image"
                                    class="teamImages" target="_blank" />
                            </figure>
                            <div class="teamBubble">
                                <p class="marginReset">Juliana E.</p>
                                <p class="bubble bubble2">Actor</p>
                                <p class="bubble bubble2">Writer</p>
                                <p class="bubble bubble2">Model</p>
                                <p class="bubble bubble2">Makeup Artist</p>
                                <div class="flexSocialIcons">
                                    <a href="https://www.instagram.com/its_julesday" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/instagram2.svg') }}"
                                            class="nav-icon-instagram2">
                                    </a>
                                    <a href="mailto:Juliana.eklund1504@gmail.com" target="_blank">
                                        <img src="{{ url_for('static', filename='./images/email2.svg') }}"
                                            class="nav-icon-email2">
                                    </a>
                                </div>
                            </div>
                        </section>
        
                        
                    </article>
                    <!--End of video list-->
                    <span class="space"></span>
                    <span class="halfSpace"></span>
                    <div class="animate-on-scroll">
                        {% include '_newsletter_form.html' %}
                    </div>
                    <span class="halfSpace"></span>
                    <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
                    <br>
                </section>
            </section>
        </div>
    </main>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>

</html>