<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta property="og:site_name" content="Filmlab Productions">
        <meta property="og:title" content="Behind The Scenes" />
        <meta property="og:description" content="Check out our Behind the scenes & Bloopers" />
        <meta property="og:image"  content="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}">
        <meta property="og:type" content="website" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>BTS | FilmLab</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
        <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
        <!--Favicon-->
        <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    </head>

    <body class="body">
        <nav class="navbar">
            <!--Start of Nav-->
            <section class="pcLogo">
                <a href="index"><img src="{{ url_for('static', filename='./images/filmlablogo.svg') }}" alt="" class="pclogoSize" /></a>
            </section>
            <section class="x-burger" data-visibility="true"><img src="{{ url_for('static', filename='./images/x.svg') }}" alt="" /></section>
            <!--Close mobile Nav menue-->
            <br />
            <ul class="navbar-nav" id="mobileBreak">
                <li class="navItem">
                    <!--Web pages, nav links-->
                    <a href="index" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/home.svg') }}" alt="Nav -" class="nav-icon" />
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="films" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/films.svg') }}" alt="Nav -" class="nav-icon" />
                        <span class="link-text">Films</span>
                    </a>
                </li>
                <li class="navItem selected"> <!--Selected darkens the navitem to show that this is the current page, in the navigation-->
                    <a href="bts">
                        <img src="{{ url_for('static', filename='./images/clapper-board.svg') }}" alt="Nav - Behind The Scenes" class="nav-icon" />
                        <span class="link-text">BTS</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="collaborations" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/collab.svg') }}" alt="Nav" class="nav-icon" />
                        <span class="link-text">Collaborations</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="about" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/about.svg') }}" alt="Nav -" class="nav-icon" />
                        <span class="link-text">About</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="login" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/support.svg') }}" alt="Nav - " class="nav-icon" />
                        <span class="link-text">Admin Login</span>
                    </a>
                </li>
                <li class="navItem" id="break"> <!--Creates space so social media icons have aren't cramped below-->
                    <a href="mailto:support@filmlabproductions.co.uk" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/contact.svg') }}" alt="Nav -" class="nav-icon" />
                        <span class="link-text">Contact</span>
                    </a>
                </li>
                <li class="navItemSmall lineBreak navItem-socials-ins">
                    <!--Social media, nav links-->
                    <a href="https://www.instagram.com/filmlab_uk" target="_blank"><img src="{{ url_for('static', filename='./images/instagram.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall navItem-socials-tik">
                    <a href="https://vm.tiktok.com/ZMFFDeLQT/" target="_blank"><img src="{{ url_for('static', filename='./images/tik.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall navItem-socials-yt">
                    <a href="https://www.youtube.com/channel/UCmkDXvDPZTy2lPFUyS91PwA" target="_blank"><img src="{{ url_for('static', filename='./images/yt.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall lineBreakEnd navItem-socials-pat">
                    <a href="https://patreon.com/user?u=78856645" target="_blank"><img src="{{ url_for('static', filename='./images/patrion.svg') }}" alt="" /></a>
                </li>
            </ul>
        </nav>

        <nav class="navbarMobile">
            <div class="burgerIcon">
                <img src="{{ url_for('static', filename='./images/burger.svg') }}" alt="" class="burgerIcon" />
                <!--Mobile only icon-->
            </div>
            <div>
                <a href="index">
                    <img src="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}" alt="" />
                    <!--Mobile logo-->
                </a>
            </div>
        </nav>
        <!-- End of nav-->

        <main aria-label="Newest Photos" class="pcMainContent main">
            <!--Margin to space content on the page so it is slightly seperated from the left of page-->
            <span class="btsMobileBreak"></span>
            <h2 class="mainTitle inline">Behind The Scenes</h2>
            <!--Main page film title-->
            <hr class="seperator">
            <span class="halfSpace"></span>
            <article class="relative">
                <div class="carousel" data-carousel>
                    <button class="carousel-button prev" data-carousel-button="prev">
                        <img src="{{ url_for('static', filename='./images/prev.svg') }}" alt="" class="carousel-button-size" />
                    </button>
                    <button class="carousel-button next" data-carousel-button="next">
                        <img src="{{ url_for('static', filename='./images/nxt.svg') }}" alt="" class="carousel-button-size" />
                    </button>
                    <ul data-slides>
                        <li class="slide" data-active>
                            <img src="{{ url_for('static', filename='./img_bts/btsimg1.jpg') }}" loading="lazy" alt="" />
                            <!--Images used in the carousel-->
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg2.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg3.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg4.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg5.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg6.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg7.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg8.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg9.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg10.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg11.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg12.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg13.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg14.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg15.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg16.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg17.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg18.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg19.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg20.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg205.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg21.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg22.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/btsimg23.jpg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00005-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00008-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00011-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00012-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00015-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00016-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00022-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00024-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                        <li class="slide">
                            <img src="{{ url_for('static', filename='./img_bts/image00026-min.jpeg') }}" loading="lazy" alt="" />
                        </li>
                    </ul>
                </div>
            </article>
            <span class="halfSpace"></span>            
            <section class="halfSpace"></section>
            <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
            <br>
        </main>
        <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
    </body>
</html>
