<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta property="og:site_name" content="Filmlab Productions">
        <meta property="og:title" content="Collaborations" />
        <meta property="og:description" content="Filmlab Collaborations" />
        <meta property="og:image"  content="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}">
        <meta property="og:type" content="website" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Collaborations | FilmLab</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
        <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
        <!--Favicon-->
        <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
        <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    </head>

    <body>
        <nav class="navbar"> <!--Start of Nav-->
            <section class="pcLogo">
                <a href="index"><img src="{{ url_for('static', filename='./images/filmlablogo.svg') }}" alt="" class="pclogoSize" /></a>
            </section>
            <section class="x-burger" data-visibility="true"><img src="{{ url_for('static', filename='./images/x.svg') }}" alt="" /></section>
            <!--Close mobile Nav menue-->
            <br />
            <ul class="navbar-nav" id="mobileBreak">
                <li class="navItem">
                    <!--Web pages, nav links-->
                    <a href="index" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/home.svg') }}" alt="Nav - Home" class="nav-icon" />
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="films" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/films.svg') }}" alt="Nav - Films" class="nav-icon" />
                        <span class="link-text">Films</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="bts" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/clapper-board.svg') }}" alt="Nav - Behind The Scenes" class="nav-icon" />
                        <span class="link-text">BTS</span>
                    </a>
                </li>
                <li class="navItem selected">
                    <a href="collaborations" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/collab.svg') }}" alt="Nav" class="nav-icon" />
                        <span class="link-text">Collaborations</span>
                    </a>
                </li>
                <li class="navItem">
                    <a href="about" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/about.svg') }}" alt="Nav - About us" class="nav-icon" />
                        <span class="link-text">About</span>
                    </a>
                </li>
                <!-- <li class="navItem">
                    <a href="login" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/support.svg') }}" alt="Nav - " class="nav-icon" />
                        <span class="link-text">Admin Login</span>
                    </a>
                </li> -->
                <li class="navItem" id="break"> <!--Creates space so social media icons have aren't cramped below-->
                    <a href="mailto:support@filmlabproductions.co.uk" class="nav-link">
                        <img src="{{ url_for('static', filename='./images/contact.svg') }}" alt="Nav - Email us" class="nav-icon" />
                        <span class="link-text">Contact</span>
                    </a>
                </li>
                <li class="navItemSmall lineBreak navItem-socials-ins">
                    <!--Social media, nav links-->
                    <a href="https://www.instagram.com/filmlab_uk" target="_blank"><img src="{{ url_for('static', filename='./images/instagram.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall navItem-socials-tik">
                    <a href="https://vm.tiktok.com/ZMFFDeLQT/" target="_blank"><img src="{{ url_for('static', filename='./images/tik.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall navItem-socials-yt">
                    <a href="https://www.youtube.com/channel/UCmkDXvDPZTy2lPFUyS91PwA" target="_blank"><img src="{{ url_for('static', filename='./images/yt.svg') }}" alt="" /></a>
                </li>
                <li class="navItemSmall lineBreakEnd navItem-socials-pat">
                    <a href="https://patreon.com/user?u=78856645" target="_blank"><img src="{{ url_for('static', filename='./images/patrion.svg') }}" alt="" /></a>
                </li>
            </ul>
        </nav>

        <nav class="navbarMobile">
            <div class="burgerIcon">
                <img src="{{ url_for('static', filename='./images/burger.svg') }}" alt="" class="burgerIcon" />
                <!--Mobile only icon-->
            </div>
            <div>
                <a href="index">
                    <img src="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}" alt="" />
                    <!--Mobile logo-->
                </a>
            </div>
        </nav>
        <!-- end of the navbar -->

        <main class="main pcMainContent">
            <h1 class="mainTitle inline">Collaborations</h1>
            <div class="halfSpace"></div>
                <section class="oneByOne">
                    <section class="cardInfo">
                        <div class="mainVideoMaxContainer">
                            <div class="mainVideo">
                                <iframe
                                    src="https://www.youtube.com/embed/X7OXqp9g1wo?si=Wh4gOKQOEsu86_7N"
                                    title="YouTube video player"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    frameBorder="0"
                                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                                    class="iframe twoByTwoImageSize"
                                ></iframe>
                            </div>
                            <div>
                                <div class="smallSpace"></div>
                                <div class="inline">
                                    <h1 class="inline">DJ Fisher Night</h1>
                                    <!--Main page film title-->
                                    <br>
                                    <span class="filmDate gapLeft">- London Printworks</span>
                                    <br />
                                </div>
                            </div>
                        </div>
                        <div class="smallSpace"></div>
                    </section>

                    <section class="cardInfo">
                        <div class="mainVideoMaxContainer">
                            <div class="mainVideo">
                                <iframe
                                    src="https://www.youtube.com/embed/9b5jSAvuKak?si=wAMGogcYuI8B-EZQ"
                                    title="YouTube video player"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    frameBorder="0"
                                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                                    class="iframe twoByTwoImageSize"
                                ></iframe>
                            </div>
                        </div>
                        <div>
                            <div class="smallSpace"></div>
                            <div class="inline">
                                <h1 class=" inline">White Latina </h1>
                                <!--Main page film title-->
                                <br>
                                <span class="filmDate gapLeft">- ft. Dranit - Que Porqueria</span>
                                <br />
                            </div>
                        </div>
                        <div class="smallSpace"></div>
                    </section>

                    <section class="cardInfo">
                        <div class="mainVideoMaxContainer">
                            <div class="mainVideo">
                                <iframe
                                    src="https://www.youtube.com/embed/OiYWq4e-wLs?si=KIONOhTVnVl_mPIl"
                                    title="YouTube video player"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    frameBorder="0"
                                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                                    class="iframe twoByTwoImageSize"
                                ></iframe>
                            </div>
                            <!--RESTRICTS THE SIZE OF CREDITS SECTION-->
                        </div>
                        <div>
                            <div class="inline">
                                <div class="smallSpace"></div>
                                <h1 class=" inline">"Lana Del Rey" Monologue</h1>
                                <!--Main page film title-->
                                <br>
                                <span class="filmDate gapLeft">- Filmlocos</span>
                                <br />
                            </div>
                        </div>
                        <div class="smallSpace"></div>
                    </section>

                    <section class="cardInfo">
                        <div class="mainVideoMaxContainer">
                            <div class="mainVideo">
                                <iframe
                                    src="https://www.youtube.com/embed/JhkZ1wDuqTY?si=L7UkTWHTgENfCbPq"
                                    title="YouTube video player"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    frameBorder="0"
                                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                                    class="iframe twoByTwoImageSize"
                                ></iframe>
                            </div>
                        </div>
                        <div class="smallSpace"></div>
                        <div>
                            <div class="inline">
                                <h1 class=" inline">"Addicted" Monologue</h1>
                                <!--Main page film title-->
                                <br>
                                <span class="filmDate gapLeft">- Filmlocos</span>
                                <br />
                            </div>
                            <div class="smallSpace"></div>
                        </div>
                    </section>

                    <section class="cardInfo">
                        <div class="mainVideoMaxContainer">
                            <div class="mainVideo">
                                <iframe
                                    src="https://www.youtube.com/embed/XcTtFR1nhFA?si=ga4nJwE73nNUaAjc"
                                    title="YouTube video player"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    frameBorder="0"
                                    allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                                    class="iframe twoByTwoImageSize"
                                ></iframe>
                            </div>
                        </div>
                        <div class="smallSpace"></div>
                        <div>
                            <div class="inline">
                                <h1 class=" inline">"I Love S3x" Monologue</h1>
                                <!--Main page film title-->
                                <br>
                                <span class="filmDate gapLeft">- Filmlocos</span>
                                <br />
                            </div>
                            <div class="smallSpace"></div>
                        </div>
                    </section>

                </section>
           
            <!-- Start of video list -->
            <div class="gridList">
                {% for film in films %}
                <div class="gridItem">
                    <a href="/details/{{ film.id }}">
                        <img src="{{ film.thumbnail }}" class="thumbSize" alt="" />
                        <p class="inline">{{ film.title }}</p>
                        <br />
                        <br />
                        <p class="bubbleSmall bubble2">{{ film.genre }}</p>
                    </a>
                </div>
                {% endfor %}
            </div>
            <!--End of video list-->
            <span class="halfSpace"></span>
            <a href="films" class="nav-link"><span class="hollowButton">More films ></span></a>
            <span class="space"></span>
            <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
            <br>
        </main>
        <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
    </body>
</html>
