<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Filmlab Productions">
    <meta property="og:title" content="Film, {{ film.title }}" />
    <meta property="og:description" content="{{ film.description }}" />
    <meta property="og:image" content="{{ film.thumbnail }}">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Film | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/upload.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}" /> <!--makes form pretty -->
</head>
<body>
    {% include '_navbar.html' %}
    <div class="pcMainContent main">
        <h1>Edit Film</h1>
        <form action="{{ url_for('edit_film', film_id=film.id) }}" method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ film.title }}" required><br>
            <section class="smallSpace"></section>
            <label for="description" type="text">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" required>{{ film.description }}</textarea><br>
            <section class="smallSpace"></section>
            <label for="link">Link (Youtube Embedded link):</label><br>
            <input type="text" id="link" name="link" value="{{ film.link }}" required><br>
            <section class="smallSpace"></section>
            <label for="thumbnail">Thumbnail Link:</label><br>
            <input type="text" id="thumbnail" name="thumbnail" value="{{ film.thumbnail }}" required><br>
            <section class="smallSpace"></section>
            <label for="genre">Genre:</label><br>
            <input type="text" id="genre" name="genre" value="{{ film.genre }}" required><br>
            <section class="smallSpace"></section>
            <label for="duration">Duration (E.G. 6m or 1h):</label><br>
            <input type="text" id="duration" name="duration" value="{{ film.duration }}" required><br>
            <section class="smallSpace"></section>
            <label for="release_year" type="number">Release Year:</label><br>
            <input type="number" id="release_year" name="release_year" value="{{ film.release_year }}" required><br>
            <section class="smallSpace"></section>
            <label for="director">Director:</label><br>
            <input type="text" id="director" name="director" value="{{ film.director }}" required><br>
            <section class="smallSpace"></section>
            <label for="cast">Cast (comma separated):</label><br>
            <input type="text" id="cast" name="cast" value="{{ film.cast | join(', ') }}" required><br>
            <section class="smallSpace"></section>
            <button type="submit">Update Film</button>
            <section class="smallSpace"></section>
            <a href="{{ url_for('upload') }}" class="">Exit</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>
</html>
