<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Filmlab Productions">
    <meta property="og:title" content="Film, {{ film.title }}" />
    <meta property="og:description" content="{{ film.description }}" />
    <meta property="og:image" content="{{ film.thumbnail }}">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Film | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/upload.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}" /> <!--makes form pretty -->
</head>
<body>
    <nav class="navbar">
        <!--Start of Nav-->
        <section class="pcLogo">
            <a href="index">
                <img src="{{ url_for('static', filename='./images/filmlablogo.svg') }}" alt="" class="pclogoSize" />
            </a>
        </section> 
        <section class="x-burger" data-visibility="true"><img src="{{ url_for('static', filename='./images/x.svg') }}" alt="" /></section>
        <!--Close mobile Nav menue-->
        <br />
        <ul class="navbar-nav" id="mobileBreak">
            <!-- Space is only visible on mobile devices, due to smaller screen size-->
            <li class="navItem">
                <!--Web pages, nav links-->
                <a href="{{ url_for('home') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/home.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('showfilms') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/films.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Films</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('bts') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/clapper-board.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">BTS</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('collaborations') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/collab.svg') }}" alt="Nav" class="nav-icon" />
                    <span class="link-text">Collaborations</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('about') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/about.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">About</span>
                </a>
            </li>
            <li class="navItem selected"> <!--Selected darkens the navitem to show that this is the current page, in the navigation-->
                <img src="{{ url_for('static', filename='./images/support.svg') }}" alt="Nav - " class="nav-icon" />
                <span class="link-text">Logged In</span>
            </li>
            <li class="navItem" id="break"> <!--Creates space so social media icons have aren't cramped below-->
                <a href="mailto:support@filmlabproductions.co.uk" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/contact.svg') }}" alt="Nav - Contact" class="nav-icon" />
                    <span class="link-text">Contact</span>
                </a>
            </li>
            <li class="navItemSmall lineBreak navItem-socials-ins">
                <!--Social media, nav links-->
                <a href="https://www.instagram.com/filmlab_uk" target="_blank"><img src="{{ url_for('static', filename='./images/instagram.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-tik">
                <a href="https://vm.tiktok.com/ZMFFDeLQT/" target="_blank"><img src="{{ url_for('static', filename='./images/tik.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-yt">
                <a href="https://www.youtube.com/channel/UCmkDXvDPZTy2lPFUyS91PwA" target="_blank"><img src="{{ url_for('static', filename='./images/yt.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall lineBreakEnd navItem-socials-pat">
                <a href="https://patreon.com/user?u=78856645" target="_blank"><img src="{{ url_for('static', filename='./images/patrion.svg') }}" alt="" /></a>
            </li>
        </ul>
    </nav>

    <nav class="navbarMobile">
        <div class="burgerIcon">
            <img src="{{ url_for('static', filename='./images/burger.svg') }}" alt="" class="burgerIcon" />
            <!--Mobile only icon-->
        </div>
        <div>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}" alt="" />
                <!--Mobile logo-->
            </a>
        </div>
    </nav>
    <!--End of nav-->
    <div class="pcMainContent main">
        <h1>Edit Film</h1>
        <form action="{{ url_for('edit_film', film_id=film.id) }}" method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="{{ film.title }}" required><br>
            <section class="smallSpace"></section>
            <label for="description" type="text">Description:</label><br>
            <textarea id="description" name="description" rows="4" cols="50" required>{{ film.description }}</textarea><br>
            <section class="smallSpace"></section>
            <label for="link">Link (Youtube Embedded link):</label><br>
            <input type="text" id="link" name="link" value="{{ film.link }}" required><br>
            <section class="smallSpace"></section>
            <label for="thumbnail">Thumbnail Link:</label><br>
            <input type="text" id="thumbnail" name="thumbnail" value="{{ film.thumbnail }}" required><br>
            <section class="smallSpace"></section>
            <label for="genre">Genre:</label><br>
            <input type="text" id="genre" name="genre" value="{{ film.genre }}" required><br>
            <section class="smallSpace"></section>
            <label for="duration">Duration (E.G. 6m or 1h):</label><br>
            <input type="text" id="duration" name="duration" value="{{ film.duration }}" required><br>
            <section class="smallSpace"></section>
            <label for="release_year" type="number">Release Year:</label><br>
            <input type="number" id="release_year" name="release_year" value="{{ film.release_year }}" required><br>
            <section class="smallSpace"></section>
            <label for="director">Director:</label><br>
            <input type="text" id="director" name="director" value="{{ film.director }}" required><br>
            <section class="smallSpace"></section>
            <label for="cast">Cast (comma separated):</label><br>
            <input type="text" id="cast" name="cast" value="{{ film.cast | join(', ') }}" required><br>
            <section class="smallSpace"></section>
            <button type="submit">Update Film</button>
            <section class="smallSpace"></section>
            <a href="{{ url_for('upload') }}" class="">Exit</a>
        </form>
    </div>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>
</html>
