<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Filmlab Productions">
    <meta property="og:title" content="Film, {{ film.title }}" />
    <meta property="og:description" content="{{ film.description }}" />
    <meta property="og:image" content="{{ film.thumbnail }}">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
</head>

<body>
    <!--Start of nav-->
    {% include '_navbar.html' %}

    <main class="main pcMainContent">
        <!--Margin to space content on the page so it is slightly seperated from the left of page-->
        <div class="halfSpace"></div> <!--Hidden in media query when VH is too -->
        <div class="inline animate-on-scroll">
            <h1 class="mainTitle inline">{{ film.title }}</h1>
            <!--Main page film title-->
            <span class="filmDate gapLeft"> {{ film.release_year }}</span>
            <br />
        </div>
        <div class="halfSpace"></div>



        {% for genres in film.genre %}
        {% if genres == film.genre[0] %}
        <div class="bubble bubble1 pcRowLeft-gap animate-on-scroll">
            {{ genres }}
        </div>
        {% else %}
        <div class="bubble bubble2 gap animate-on-scroll">
            {{ genres }}
        </div>
        {% endif %}
        {% endfor %}

        <section class="smallSpace">
        </section>
        <section class="mainVideoMaxContainer animate-on-scroll">
            <div class="mainVideo">
                <iframe src="{{ film.link }}" title="YouTube video player"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    frameBorder="0" allowfullscreen="" mozallowfullscreen webkitallowfullscreen oallowfullscreen
                    msallowfullscreen class="iframe"></iframe>
            </div>
        </section>

        <!--RESTRICTS THE SIZE OF CREDITS SECTION-->
        <div class="sizeRestricted animate-on-scroll">
            <!--This CLASS & DIV prevent text from overtaking the page (credits section) -->
            <br />
            <p>{{ film.description }}</p>
            <ul class="marginReset">
                <li class="subText">Director</li>
                <li class="credits">{{ film.director }}</li>
                <li class="subText">The Cast</li>
                <li class="credits">{{ film.cast | join(', ') }}</li>
            </ul>
        </div>


        {% if film.Trailer %}
        <span class="gapTop"></span>
        <h2 class="animate-on-scroll">Trailer</h2>
        <div class="animate-on-scroll">
            <section class="smallSpace">
            </section>
            <section class="mainVideoMaxContainer">
                <div class="mainVideo">
                    <iframe src="{{ film.Trailer }}" title="YouTube video player"
                        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        frameBorder="0" allowfullscreen="" mozallowfullscreen webkitallowfullscreen oallowfullscreen
                        msallowfullscreen class="iframe"></iframe>
                </div>
            </section>
        </div>
        {% else %}
        {% endif %}



        <span class="halfSpace"></span>
        <hr class="seperator halfSpace" />
        <!--Start of video list-->
        <div class="gridList">
            {% for film in films|reverse %}
            <div class="gridItem animate-on-scroll">
                <a href="{{ film.id }}">
                    <img src="../{{ film.thumbnail }}" class="thumbSize thumbRatio" alt="" />
                    <p class="inline">{{ film.title }}</p>
                    <br />
                    <br />
                </a>

                {% for genres in film.genre %}
                {% if genres == film.genre[0] %}
                <div class="bubbleSmall bubble2">
                    {{ genres }}
                </div>
                {% else %}
                <div class="bubbleSmall bubble2 gap">
                    {{ genres }}
                </div>
                {% endif %}
                {% endfor %}

            </div>
            {% endfor %}
        </div>
        <!--End of video list-->
        <span class="halfSpace"></span>
        <a href="{{ url_for('showfilms')}}" class="nav-link"><span class="hollowButton">More films
                ></span></a>
        <span class="space"></span>
        <span class="halfSpace"></span>
        <div class="animate-on-scroll">
            {% include '_newsletter_form.html' %}
        </div>
        <span class="halfSpace"></span>
        <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
        <br>
    </main>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>

</html>