<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Films | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
</head>

<body>
    {% include '_navbar.html' %}

    <main class="pcMainContent main">
        <!--Margin to space content on the page so it is slightly seperated from the left of page-->
        <h2 class="mainTitle italic">Films</h2>
        <!-- Ttile of page - where ribbon by space out a red underline is meant to be, based on figma design -->
        <hr class="seperator">
        <span class="halfSpace"> </span>
        <!--Film list item start-->
        {% for film in films|reverse %}
        <a href="details/{{ film.id }}">
            <div class="filmList">
                <img src="{{ film.thumbnail }}" class="thumbRatio thumbSmallMobile" alt="" />
                <!--thumbnail-->
                <section class="lessMargin">
                    <br class="mobileBr" />
                    <div class="title lessMargin">{{ film.title }}</div>
                    <br />
                    <section class="pcRow inline">
                        <div class="filmDate inline">{{ film.release_date }}</div>
                        <p class="filmDate gapLeft inline">- {{ film.duration }}</p>
                        <br class="mobileBr" />
                    </section>
                    <div class="pcRow inline">

                        {% for genres in film.genre %}
                            {% if genres == film.genre[0] %}
                                <div class="bubble bubble1 pcRowLeft-gap">
                                    {{ genres }}
                                </div>
                            {% else %}
                                <div class="bubble bubble2 gap">
                                    {{ genres }}
                                </div>
                            {% endif %}
                        {% endfor %}    

                    </div>
                    <span class="gapTop"></span>
                    <br />
                    <p class="generalText">{{ film.description }}</p>
                </section>
            </div>
        </a>
        <br>
        <div class="smallSpace"></div>
        {% endfor %}
        <!--Film list item end-->
        <span class="space"></span>
        <span class="halfSpace"></span>
        {% include '_newsletter_form.html' %}
        <span class="halfSpace"></span>
        <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
        <br>
        <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
    </main>
</body>
</html>
