<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="Filmlab Productions">
    <meta property="og:title" content="Film, {{ film.title }}" />
    <meta property="og:description" content="{{ film.description }}" />
    <meta property="og:image" content="{{ film.thumbnail }}">
    <meta property="og:type" content="website" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film | FilmLab Productions</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
</head>

<body>
    <nav class="navbar">
        <!--Start of Nav-->
        <section class="pcLogo">
            <a href="index">
                <img src="{{ url_for('static', filename='./images/filmlablogo.svg') }}" alt="" class="pclogoSize" />
            </a>
        </section> 
        <section class="x-burger" data-visibility="true"><img src="{{ url_for('static', filename='./images/x.svg') }}" alt="" /></section>
        <!--Close mobile Nav menue-->
        <br />
        <ul class="navbar-nav" id="mobileBreak">
            <!-- Space is only visible on mobile devices, due to smaller screen size-->
            <li class="navItem">
                <!--Web pages, nav links-->
                <a href="{{ url_for('home') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/home.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('showfilms') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/films.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Films</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('bts') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/clapper-board.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">BTS</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('collaborations') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/collab.svg') }}" alt="Nav" class="nav-icon" />
                    <span class="link-text">Collaborations</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('about') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/about.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">About</span>
                </a>
            </li>
            <li class="navItem"> <!--Selected darkens the navitem to show that this is the current page, in the navigation-->
                <a href="{{ url_for('login_route') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/support.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Admin Login</span>
                </a>
            </li>
            <li class="navItem" id="break"> <!--Creates space so social media icons have aren't cramped below-->
                <a href="mailto:support@filmlabproductions.co.uk" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/contact.svg') }}" alt="Nav - Contact" class="nav-icon" />
                    <span class="link-text">Contact</span>
                </a>
            </li>
            <li class="navItemSmall lineBreak navItem-socials-ins">
                <!--Social media, nav links-->
                <a href="https://www.instagram.com/filmlab_uk" target="_blank"><img src="{{ url_for('static', filename='./images/instagram.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-tik">
                <a href="https://vm.tiktok.com/ZMFFDeLQT/" target="_blank"><img src="{{ url_for('static', filename='./images/tik.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-yt">
                <a href="https://www.youtube.com/channel/UCmkDXvDPZTy2lPFUyS91PwA" target="_blank"><img src="{{ url_for('static', filename='./images/yt.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall lineBreakEnd navItem-socials-pat">
                <a href="https://patreon.com/user?u=78856645" target="_blank"><img src="{{ url_for('static', filename='./images/patrion.svg') }}" alt="" /></a>
            </li>
        </ul>
    </nav>

    <nav class="navbarMobile">
        <div class="burgerIcon">
            <!--Mobile only icon-->
            <img src="{{ url_for('static', filename='./images/burger.svg') }}" alt="" class="burgerIcon" />
            <!--Mobile only icon-->
        </div>
        <div>
            <a href="index" class="nav-link">
                <img src="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}" alt="" />
                <!--Mobile logo-->
            </a>
        </div>
    </nav>
    <!-- end of the navbar -->

    <main class="main pcMainContent">
        <!--Margin to space content on the page so it is slightly seperated from the left of page-->
        <div class="halfSpace"></div> <!--Hidden in media query when VH is too -->
        <div class="inline">
            <h1 class="mainTitle inline">{{ film.title }} - Trailer</h1>
            <!--Main page film title-->
            <span class="filmDate gapLeft"> {{ film.release_year }}</span>
            <br />
        </div>
        <div class="halfSpace"></div>
        
        
        
        {% for genres in film.genre %}
        {% if genres == film.genre[0] %}
        <div class="bubble bubble1 pcRowLeft-gap">
            {{ genres }}
        </div>
        {% else %}
        <div class="bubble bubble2 gap">
            {{ genres }}
        </div>
        {% endif %}
        {% endfor %}

        <section class="smallSpace">
        </section>    
        <section class="mainVideoMaxContainer">
            <div class="mainVideo">
                <iframe
                    src="{{ film.link }}"
                    title="YouTube video player"
                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    frameBorder="0"
                    allowfullscreen="" mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen
                    class="iframe"
                ></iframe>
            </div>
        </section>

        <!--RESTRICTS THE SIZE OF CREDITS SECTION-->
        <div class="sizeRestricted"> <!--This CLASS & DIV prevent text from overtaking the page (credits section) -->
            <br />
            <p>{{ film.description }}</p>
            <ul class="marginReset">
                <li class="subText">Director</li>
                <li class="credits">{{ film.director }}</li>
                <li class="subText">The Cast</li>
                <li class="credits">{{ film.cast | join(', ') }}</li>
            </ul>
        </div>
        
        <span class="halfSpace"></span>
        <hr class="seperator halfSpace" />
        <!--Start of video list-->
        <div class="gridList">
            {% for film in films %}
            <div class="gridItem">
                <a href="/details/{{ film.id }}">
                    <img src="{{ film.thumbnail }}" class="thumbSize" alt="" />
                    <p class="inline">{{ film.title }}</p>
                    <br />
                    <br />
                </a>

                {% for genres in film.genre %}
                    {% if genres == film.genre[0] %}
                        <div class="bubbleSmall bubble2">
                            {{ genres }}
                        </div>
                    {% else %}
                        <div class="bubbleSmall bubble2 gap">
                            {{ genres }}
                        </div>
                    {% endif %}
                {% endfor %}    




            </div>
            {% endfor %}
        </div>
        <!--End of video list-->
        <span class="halfSpace"></span>
        <a href="films" class="nav-link"><span class="hollowButton">More films ></span></a>
    </main>
    <span class="space"></span>
    <footer class="copyright">© 2022 FILMLAB productions All rights reserved</footer>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>
</html>
