<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}" />

</head>
<body>
    {% include '_navbar.html' %}

    <main class="main pcMainContent">
        <div class="login-container">
            <form action="{{ url_for('login') }}" method="POST" class="login-form">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <br>
        <!--Film list item start-->
        <br />
        <span class="halfSpace"></span>
        <footer class="copyright">© 2022 FILMLAB productions All rights reserved</footer>
        <br>
    </main>
<script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>
</html>