<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | FilmLab Productions</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}" />

</head>
<body>
    <nav class="navbar">
        <!--Start of Nav-->
        <section class="pcLogo">
            <a href="index"><img src="{{ url_for('static', filename='./images/filmlablogohome.svg') }}" alt="" class="pclogoSize" /></a>
        </section> 
        <section class="x-burger" data-visibility="true"><img src="{{ url_for('static', filename='./images/x.svg') }}" alt="" /></section>
        <!--Close mobile Nav menue-->
        <br />
        <ul class="navbar-nav" id="mobileBreak">
            <!-- Space is only visible on mobile devices, due to smaller screen size-->
            <li class="navItem"> <!--Selected darkens the navitem to show that this is the current page, in the navigation-->
                <!--Web pages, nav links-->
                <a href="index">
                    <img src="{{ url_for('static', filename='./images/home.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li class="navItem">
                <a href="{{ url_for('showfilms') }}" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/films.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Films</span>
                </a>
            </li>
            <li class="navItem">
                <a href="bts" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/clapper-board.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">BTS</span>
                </a>
            </li>
            <li class="navItem">
                <a href="collaborations" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/collab.svg') }}" alt="Nav" class="nav-icon" />
                    <span class="link-text">Collaborations</span>
                </a>
            </li>
            <li class="navItem">
                <a href="about" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/about.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">About</span>
                </a>
            </li>
            <li class="navItem selected">
                <a href="login" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/support.svg') }}" alt="Nav - " class="nav-icon" />
                    <span class="link-text">Admin Login</span>
                </a>
            </li>
            <li class="navItem" id="break"> <!--Creates space so social media icons have aren't cramped below-->
                <a href="mailto:support@filmlabproductions.co.uk" class="nav-link">
                    <img src="{{ url_for('static', filename='./images/contact.svg') }}" alt="Nav - Contact" class="nav-icon" />
                    <span class="link-text">Contact</span>
                </a>
            </li>
            <li class="navItemSmall lineBreak navItem-socials-ins">
                <!--Social media, nav links-->
                <a href="https://www.instagram.com/filmlab_uk" target="_blank"><img src="{{ url_for('static', filename='./images/instagram.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-tik">
                <a href="https://vm.tiktok.com/ZMFFDeLQT/" target="_blank"><img src="{{ url_for('static', filename='./images/tik.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall navItem-socials-yt">
                <a href="https://www.youtube.com/channel/UCmkDXvDPZTy2lPFUyS91PwA" target="_blank"><img src="{{ url_for('static', filename='./images/yt.svg') }}" alt="" /></a>
            </li>
            <li class="navItemSmall lineBreakEnd navItem-socials-pat">
                <a href="https://patreon.com/user?u=78856645" target="_blank"><img src="{{ url_for('static', filename='./images/patrion.svg') }}" alt="" /></a>
            </li>
        </ul>
    </nav>

    <nav class="navbarMobile">
        <div class="burgerIcon">
            <img src="{{ url_for('static', filename='./images/burger.svg') }}" alt="" class="burgerIcon" />
            <!--Mobile only icon-->
        </div>
        <div>
            <a href="index">
                <img src="{{ url_for('static', filename='./images/filmlablogo-mobile.svg') }}" alt="" />
                <!--Mobile logo-->
            </a>
        </div>
    </nav>
    <!--End of nav-->

    <main class="main pcMainContent">
        <div class="login-container">
            <form action="{{ url_for('login') }}" method="POST" class="login-form">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <br>
        <!--Film list item start-->
        <br />
        <span class="halfSpace"></span>
        <footer class="copyright">© 2022 FILMLAB productions All rights reserved</footer>
    </main>
<script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>
</html>