<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | FilmLab Productions</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed">
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}">
    <!-- Include additional CSS files if necessary -->
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <form action="{{ url_for('login') }}" method="POST" class="login-form">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
