<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
</head>

<body>
    {% include '_navbar.html' %}

    <main class="pcMainContent main">
        <!--Margin to space content on the page so it is slightly seperated from the left of page-->
        <h2 class="mainTitle italic">Shop</h2>
        <!-- Ttile of page - where ribbon by space out a red underline is meant to be, based on figma design -->
        <hr class="seperator">
        <span class="halfSpace"> </span>

        <!--Shop list item start-->
        <div class="iframe-container">
            <a href="https://filmlab.printify.me" target="_blank" rel="noopener noreferrer" style="color: rgb(192, 251, 251);" class="hollowButton">
                Click to Open Shop in New Tab
            </a>
            <span class="halfSpace"></span>


            <iframe name="myiFrame" src="https://filmlab.printify.me/" sandbox="allow-scripts allow-same-origin allow-forms" style="border:0px none #ffffff;"></iframe>
        </div>
        
        <span class="halfSpace"></span>
        <span class="space"></span>
        <span class="halfSpace"></span>
        {% include '_newsletter_form.html' %}
        <span class="halfSpace"></span>
        <footer class="copyright">© 2022 FILMLAB productions All rights reserved︎</footer>
        <br>

        <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
    </main>
</body>
</html>
