<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Films | FilmLab</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin+Condensed" />
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="shortcut icon" />
    <!--Favicon-->
    <link href="{{ url_for('static', filename='./images/filmlablogo.svg') }}" rel="apple-touch-icon" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/navbar.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/upload.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/login.css') }}" />
</head>

<body>
    {% include '_navbar.html' %}

    <div class="container pcMainContent mainPC">
        <h1>Upload Films</h1>

        <div class="form-container">
            <h2>Add New Film</h2>
            <form action="{{ url_for('add_film') }}" method="POST" class="upload-form">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea id="description" name="description" rows="4" required></textarea>
                </div>
                <div class="form-group">
                    <label for="genre">Genre:</label>
                    <input type="text" id="genre" name="genre" required>
                </div>
                <div class="form-group">
                    <label for="duration">Duration (E.G. 6m or 1h):</label>
                    <input type="text" id="duration" name="duration" required>
                </div>
                <div class="form-group">
                    <label for="release_year">Release Year:</label>
                    <input type="number" id="release_year" name="release_year" required>
                </div>
                <div class="form-group">
                    <label for="director">Director:</label>
                    <input type="text" id="director" name="director" required>
                </div>
                <div class="form-group">
                    <label for="cast">Cast (comma separated):</label>
                    <input type="text" id="cast" name="cast" required>
                </div>
                <div class="form-group">
                    <label for="link">Link (Youtube Embedded link):</label>
                    <input type="text" id="link" name="link" required>
                </div>
                <div class="form-group">
                    <label for="thumbnail">Thumbnail URL:</label>
                    <input type="text" id="thumbnail" name="thumbnail" required>
                </div>
                <button type="submit">Add Film</button>
            </form>
        </div>

        <div class="film-list">
            <h2>Films</h2>
            <ol>
                {% for film in films %}
                <li class="film-item">
                    <h3>{{ film.title }}</h3>
                    <p>{{ film.description }}</p>
                    <p>Genre: {{ film.genre }}</p>
                    <p>Duration: {{ film.duration }}</p>
                    <p>Release Year: {{ film.release_year }}</p>
                    <p>Director: {{ film.director }}</p>
                    <p>Cast: {{ film.cast | join(', ') }}</p>
                    <a href="{{ film.link }}" target="_blank">Link to Film on YouTube</a>
                    <section class="smallSpace"></section>
                    <a href="{{ url_for('edit_film', film_id=film.id) }}"><button>Edit</button></a>
                    <section class="smallSpace"></section>
                    <a href="{{ url_for('delete_film', film_id=film.id) }}"><button>Delete</button></a>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <script src="{{ url_for('static', filename='./js/nav.js') }}" defer></script>
</body>

</html>